/** Login Configuration for the HR sample application **/

hrsample {
   org.jspresso.framework.security.auth.spi.DevelopmentLoginModule required
       user=demo
       password=demo
       roles="staff-manager,organization-manager,administrator"
       custom.language=en

       user_1=staffmgr
       password_1=staffmgr
       roles_1="staff-manager"
       custom_1.language=fr

       user_2=orgmgr
       password_2=orgmgr
       roles_2="organization-manager"
       custom_2.language=fr;
};
