/** Login Configuration for the HR sample application **/

hrsample {
   org.jspresso.framework.security.auth.spi.DevelopmentLoginModule required
       user_anonymous=anonymous

       user=demo
       password=demo
       roles="staff-manager,organization-manager,administrator"
       custom.language=en

       user_1=staffmgr
       password_1=staffmgr
       roles_1="staff-manager"
       custom_1.language=fr

       user_2=orgmgr
       password_2=orgmgr
       roles_2="organization-manager"
       custom_2.language=fr

       user_3=fr
       password_3=fr
       roles_3="staff-manager,organization-manager,administrator"
       custom_3.language=fr

       user_4=en
       password_4=en
       roles_4="staff-manager,organization-manager,administrator"
       custom_4.language=en

       user_5=de
       password_5=de
       roles_5="staff-manager,organization-manager,administrator"
       custom_5.language=de;
};
